@charset "utf-8";

// Set your brand colors
$excel-primary: #217346;
$excel-primary30: #639d7d;
$nfdi-blue-dark: #2D3E50;
$nfdi-mint: #1FC2A7;
$nfdi-blue-light: #4fb3d9;
$nfdi-blue-lighter-20: #72c2e1;
$nfdi-red: #c21f3a; //#e83151;//#E32746;
$nfdi-yellow: #FFC000;
$primarye: $excel-primary;
$primarye-invert: white;

// 1. Import the initial variables
@use "bulma/sass" with ( $primary: $nfdi-blue-dark, $success: $nfdi-mint, $info: $nfdi-blue-light, $danger: $nfdi-red, $warning: $nfdi-yellow, $custom-colors: ( "primarye":($primarye, $primarye-invert)), );
@forward "bulma/sass/themes";
@use "bulma/sass/utilities/css-variables" as cv;

html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 16px;
    min-width: 400px;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    background-color: #A2B975
}

// html {
//     overflow:auto;
// }

// body {
//     background-color: #A2B975;
//     width: 100vw;
//     height: 100vh; 	
//     color: black;
//     overflow: auto;
//     overflow-x: hidden;
// }

// .navbar {
//     background-color: #10242b;
//     position: fixed;
//     top: 0px;
//     z-index: 10;
//     width: 100%
// }

// .footer {
//     background-color: #10242b;
//     position: absolute;
//     color:white;
//     bottom: 0;
//     width: 100%;
//     z-index: 0;
//     height: 1rem !important;  
// }